
@mixin respond-to($media) {

  @if $media == medium-and-up {
    @media #{$medium-and-up} { @content; }
  }
  @if $media == large-and-up {
    @media #{$large-and-up} { @content; }
  }
  @if $media == small-and-down {
    @media #{$small-and-down} { @content; }
  }
  @if $media == medium-and-down {
    @media #{$medium-and-down} { @content; }
  }
  @if $media == medium-only {
    @media #{$medium-only} { @content; }
  }
}