// Clearfix
%m-clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Elements
@mixin m-btn-variation($color) {
  background-color: $color;
  border-color: $color !important;

  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    color: #fff;
    background-color: lighten($color, 3%);
  }
}

@mixin m-link-variation($color, $hover-color, $font-size: 0, $font-weight: normal, $text-decoration:none) {
  &, &:visited {
    cursor: pointer;
    @if $font-size != 0 {
      font-size: $font-size;
    }
    @if $font-weight != 0 {
      font-weight: $font-weight;
    }
    color: $color;
  }

  &:active,
  &:hover {
    cursor: pointer;
    color: $hover-color;
    text-decoration: $text-decoration;
  }
}

// Properties
@mixin m-rotate($deg) {
  -o-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin m-linear-gradient($type,$color1,$color2) {
  background: $color1; /* Old browsers */
  background: -webkit-linear-gradient($type, $color1, $color2); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient($type, $color1, $color2); /* Opera 11.10+ */
  background: -ms-linear-gradient($type, $color1, $color2); /* IE10+ */
  background: linear-gradient($type, $color1, $color2); /* W3C */
}

@mixin m-border-radius($val) {
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  border-radius: $val;
}

@mixin m-keyframes($animation) {
  @-webkit-keyframes #{$animation} {
    @content;
  }
  @-moz-keyframes #{$animation} {
    @content;
  }
  @-ms-keyframes #{$animation} {
    @content;
  }
  @-o-keyframes #{$animation} {
    @content;
  }
  @keyframes #{$animation} {
    @content;
  }
}

@mixin m-appearance ($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}

@mixin m-animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin m-transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin m-transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin m-transform-origin ($origin) {
  moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

@mixin m-user-select($select) {
  -webkit-touch-callout: $select;
  -webkit-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select;
  user-select: $select;
}

@mixin m-scroll-display($display) {
  ::-webkit-scrollbar {
    display: $display;
  }

  ::-moz-scrollbar {
    display: $display;
  }
}
