.portfolio-content {

  .cbp-item {
    .cbp-caption {
      .cbp-caption-defaultWrap {
        height: 200px;
        background: black;

        .cbp-caption-defaultWrap-img {
          margin: auto;
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}