@import "../../mixins/media";
@import "../../mixins/mixins";

.page-container-bg-solid {

  .page-sidebar {

    .page-sidebar-menu {

      .nav-item {
        &.active::after {
          border-right: 12px solid #eef1f5;
        }

      }
    }
  }
}