//## Main Layout CSS Builder

@import '../global/variables'; // global metronic framework variables
@import '../global/components/mixins'; // global metronic framework mixings

@import 'variables'; // theme level variables

@import 'components/_print'; // print layout
@import 'components/_header'; // page header
@import 'components/_page-container'; // page main container
@import 'components/_sidebar';  // page sidebar
@import 'components/_content'; // page consnde
@import 'components/_footer';   // page footer
@import 'components/_theme-panel';  // theme customizer panel
@import 'components/_quick-sidebar';  // quick sidebar toggler

@import 'quick-sidebar/quick-sidebar';  // quick sidebar content
@import 'quick-sidebar/quick-nav';  // quick navigation

/***  
Page Loading       
***/

.page-on-load {
	background: #fefefe;

	.page-header,
	.page-container,
	.page-footer,
	> .clearfix {
		display: none;
		transition: all 2s;
	}
}